    <div class="navbar">
        <div class="nav-search">
            <form action="" method="get">
                <img src="assets/LinkedinLogo.png" alt="logo" class="linkedinLogo">
                <input type="search" name="nav-search" placeholder="Search">
            </form>
        </div>
        <div class="nav-links">
            <ul class="navbar-list">
                <li>
                    Home
                </li>
                <li>
                    My Network
                </li>
                <li>
                    Jobs
                </li>
                <li>
                    Messaging
                </li>
                <li>
                    Notifications
                </li>
                <li>
                    Me
                </li>
            </ul>
        </div>

    </div>