*{
    margin:0;
    padding:0;
}

h1{
    color: orange;
}

.navBar{
    border: 2px red solid;
    padding:15px;
}

.navItem{
    margin-right:25px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color:black;
}

a:hover{
    color: blue;
    text-decoration: underline;
}