*{
    padding:0;
    margin:0;
}

.container{
    width:500px;
    height:500px;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "el1 el2 el3"
    "el4 el5 el6"
    "el7 el8 el9";
    justify-items: center;
    align-items: center;
    gap: 10px 10px;
}

.el{
    height: 100px;
    width: 100px;
    background-color: orange;
    border:1px solid black;
}

.el-1{
    grid-area: el1;
}
.el-2{
    grid-area: el2;
}
.el-3{
    grid-area: el3;
}
.el-4{
    grid-area: el4;
}
.el-5{
    grid-area: el5;
}