*{
    margin:0;
    padding:0;
}

nav{
    padding:10px;
    background-color: black;
    position:fixed;
    top:0;
    width:100%;
    z-index: 100;
}

.container{
    margin-top:90px;
    position:relative;
    background-color: orange;
}

a:link{
    color:white;
    text-decoration: none;
    margin: 0 20px;
}

a:visited{
    color:white;
}

a:hover{
    color:pink;
}

